@font-face {
    font-family: 'DelaGothicOne-Regular';
    src : url(DelaGothicOne-Regular.ttf )
 }
 @font-face {font-family: 'Montserrat';
             src: url(Montserrat.ttf)}
 body {background-color: black;
  
  
    
 }
   


 .main {
    font-family: DelaGothicOne-Regular;
    
    background-color: white;
    width: 1920px;
    
    height: 2684px;
    

   
 }

 li {
   display: inline;
   font-family: Montserrat;
   padding-left: 20px;
   font-size: 30px;
 
   
       
}
 li a {
   text-decoration: none;
   color: grey;
   
 }
 .hh {font-size: 14px;
   margin-top: 0px;}

 ul {
   list-style-type: none;
      font-family: Montserrat;
     
      }
.newbar {
   font-size: 16px;
   padding-top: 31.5px;
   padding-bottom: 31.5px;
   
   background: #F6F5F4;

   display: flex;
   align-items: center;
     
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-left: 330px;
}
.qq {
   padding-right: 60px;
   font-family: DelaGothicOne-Regular;
}
 
  button {font-family: Montserrat;
   font-size: 30px;
   color:white;
   border-radius: 10px;
   background-color: #2B788B;
   border: 1px solid transparent;
   
}
a {text-decoration: none;
   font-weight: bold;}
.q {
   font-size: 30px;
   float: right;
   font-family: Montserrat;
   margin-right: 250px;
  
    }
   .meore {
      width: 1920px;
      height: 740px;
      background-color: #F6F5F4;
      


   }
   .vector {
      Width:24px;
      Height:30px;
   }
 

      .t { width: 261.97px;
         height: 160.48px;
         margin-bottom: 147.79px;
         margin-top:201.73px;
         margin-left: 352.03px;
      
      
      }
   
   h1 {
      width: 490px;
      height: 190px;
      font-size: 48px;
      font-family: DelaGothicOne-Regular ;
      margin-bottom: 30px;
      margin-top: 24px;
     

      
   }
   .r {
      font-family: Montserrat ;
      font-size: 20px;
      width: 221px;
      height: 16px;
      text-decoration: none;
      color: #2B788B;
      margin-bottom: 24px;

   }
   .meore {
            display: flex;
            align-items: center;
            justify-content: center;
   }
   .meoremeore {
      
      margin-left: 33px;
      background-image: url(boy.png);
      width: 614px;
      height: 510px; 
      
   }
   .v {background: #C3DCE3;
      border-radius: 100px;
      color: #2B788B;
      font-size: 16px;
      width: 200px;
      height: 50px;
      font-weight: bold;
      padding-top: 14px;
      padding-bottom: 14px;
      padding-right: 22px;
      padding-left: 22px;

   }
   h4 {width: 396.89px;
      height: 50px;
      color: #757575;
      font-size: 18px;
      font-family: Montserrat ;
      margin-top: auto;
      margin-bottom: 30px;
   }
   .ss {
           font-size: 40px; 
           display: flex;
            align-items: left;
            justify-content: left;
   }
   h6 { font-size: 12px;
           text-align: center;}
   .j {
      font-size: 40px; 
      color: #2B788B;
      padding-right: 48.5px;
      margin-top: 3px;
      font-weight: bold;
      
   }
.mesame {
   width: 1920px;
   height: 600px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.mesamepirveli {
   width: 580px;
   height: 445px;
   background-image: url(girl.png);
 }
  
.Sprint { 
   width: 150px;
   height: 112px;
   background: #F2D4DC;
   font-size: 16px;
   border-radius: 14px;
   padding-top: 82px;
   padding-right: 34px;
   padding-bottom: 34px;
   padding-left: 34px;
   margin-right: 21.05px;

}
.Audiocall {
   width: 172px;
   height: 112px;
   background:  #C3DCE3;;
   font-size: 16px;
   border-radius: 14px;
   padding-top: 82px;
   padding-right: 34px;
   padding-bottom: 34px;
   padding-left: 34px;
   

}
.s {
   width: 131px;
   height: 106px;
   margin-bottom: 45.79px;
         margin-top:-200.73px;
         margin-left: -20.03px;
   
   }
   .k { width: 91px;
      height: 106px;
      margin-bottom: 55.79px;
         margin-top:-300.73px;
         margin-left: -20.03px;
   }
.meotxe {
   display: flex;
   align-items: center;
   justify-content: center;
   background: #F6F5F4;
   width: 1920px;
   height: 500px;
}
.meotxemeore {
width: 580px;
height: 473.97px;
background-image: url(queen.png);
}

.book {
   width: 131px;
   height: 44px;
   font-size:  16px;
   background: #C3DCE3;
   border-radius: 100px;
   font-family: Montserrat ; }
.mexute
 {width: 1920px;
   height: 600px;
   display: flex;
   align-items: center;
   justify-content: center;
   

}
.mexutepirveli {
   width: 680px;
height: 409.25px;
background-image: url(both.png);
margin-left: 0px;


}
.statistics {
background: #C3DCE3;
border-radius: 100px;
width: 129px;
height: 44px;
font-family: Montserrat ;
font-size: 16px;

}
.meeqvse {
 width: 1920px;
height: 160px;
background: #F6F5F4;


  
}

.meeqvsemeore {
  padding-left: 360px;
  display: flex;
  align-self: center;
  justify-content: space-between;

}
hr {border: 1px solid #E9E9E9;
   width: 1180px;
   display: flex;
   align-items: center;
justify-content: center;}

.n {height: 19.8px;
   width: 24.8px;
   
   border-radius: 0px;
   }
   .u {width: 27.9px;
      height: 18.73px;
      background: #F6F5F4;
      
      border-radius: 0px;
      }
   .x {height: 19.8px;
         width: 24.8px;
         
         border-radius: 0px;
         }
   #footer  a{
    font-size:14px;
   
   } 
   #footer  li{
      font-size:14px;
     
      
     } 
     .newbar1 {
      display: flex;
      align-self: center;
      justify-content: space-between;
      
      padding-top: 40px;
      padding-left: 310px;
     }
     .copyright {
      padding-right: 300px;

     }
     .ff {
    
      display: inline-block;
    }
     .ffcontent {
      display: none;
  position: absolute;
 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
     }
     .ffcontent a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      background-color: white;
      font-size: 18px;
     }
     .ff:hover .ffcontent {display: block;}
     .op {
     margin-right: 370px;
     
     
     }

     .uuu {
      
      font-size: 14px; 
     
     text-align: right; 
     color: #757575; }
     .ppp {
     
      margin-right: 370px;
     }
     #iii li
      {  font-weight: bold;
         font-size:14px;
         color: #757575;
        
         
      
     }